.login-div{
    display: block;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.login-form-body-input-group label{
    display: inline-block;
    width: 100px;
    margin-bottom: 15px;
}